#form{
    position: absolute;
    left: 0;
    top: 0;
    height: 99.7vh;
    width: 40vw;
    background-color: aqua;
}

#display{
    position: absolute;
    right: 0;
    top: 0;
    height: 99.7vh;
    width: 60vw;
    background-color: aquamarine;
}